### https://raw.github.com/github/gitignore/c68eb91e0a72ca1efba128c33de9caea41281f19/PlayFramework.gitignore

# Ignore Play! working directory #
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

# Intellij
.idea/

